<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/num.css" />
    <link rel="stylesheet" type="text/css" href="/css/table.css" />
    <link rel="stylesheet" type="text/css" href="/css/message.css" />

<title>セッションエラー(生徒)</title>

</head>
<body>
	
	<header><span>LearnEval</span></header>
	
	<div style="text-align: center;">変なことすんな生徒
	  <a th:href="@{/studentmain}">studentmain</a>
	</div>
	

</body>
</html>