<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/table.css" />
  <meta charset="UTF-8">
  <title>成績確認</title>
</head>
<body>
  <header> <span>LearnEval</span>
	<form th:action="@{/login}" method="GET">
    <input type="submit" id="logout-button" value="ログアウト">
    </form>
    <form th:action="@{/studentmain}" method="GET">
    <input type="submit" id="home-button" value="ホーム">
    </form>
  </header>
<!--  プルダウンを作成する-->]
<main>
	<p>
<form th:action="@{/studenteval}" method="GET">
	<label>ソートする項目を選択:</label>
	<select name="type" id="type">
		<option value="questionNumber">問題</option>
		<option value="end_time">最終回答時刻</option>
	</select>	
	<input type="submit" value="選択">
	</form>
	</p>
  <table>
	<tr>
		<th>問題</th>
		<th>正答率</th>
		<th>最終解答時刻</th>
	</tr>
	<th:block th:each="test : ${test_list}">
		<tr>
			<td th:text="'問' + ${test.questionNumber}"></td>
			<td th:text="${test.answer_rate}+'%'"></td>
			<td th:text="${test.end_time}"></td>
  </table>
  </main>
</body>
</html>