<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/num.css" />
  <title>生徒一覧</title>
</head>
<body>
  <header> <span>LearnEval</span>
    <div id="logout-button">ログアウト</div>
  </header>
  <h1>問題一覧</h1>
  <table>
    <tr>
      <th>問題番号</th>
      <th>言語</th>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>Java</td>
    </tr>
  </table>
</body>
</html>