<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <meta charset="UTF-8">
  <title>ホーム(生徒用)</title>
</head>
<body>
  <header> <span>LearnEval</span>
  <form th:action="@{/login}" method="GET">
    <input type="submit" id="logout-button" value="ログアウト">
    </form>
  </header>
  <main>
	  <p th:text = "${session.name}"}></p>
    <form th:action="@{/studentmain}" method="POST"> 
		<input type="submit" value="テスト一覧" name="page" id="choice"> 
		<input type="submit" value="成績一覧" name="page" id="choice"> 
		<input type="submit" value="メッセージ一覧" name="page" id="choice"> 
	</form>
  </main>
</body>
</html>