<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/button.css">
  <meta charset="UTF-8">
  <title>ホーム(生徒用)</title>
</head>
<body>
  <header>
    <span>LearnEval</span>
    <form th:action="@{/login}" method="GET">
      <input type="submit" id="logout-button" value="ログアウト">
    </form>
  </header>
  <main>
    <a href="/studenttestmenu"><span>テスト一覧</span></a><br>
    <a href="/studenteval"><span>個人成績一覧</span></a><br>
    <a href="/studentmessagehome"><span>メッセージ一覧</span></a>
  </main>
</body>
</html>
