<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/num.css" />
    <link rel="stylesheet" type="text/css" href="/css/table.css" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@700&family=Dela+Gothic+One&family=DotGothic16&family=Mochiy+Pop+One&family=Mochiy+Pop+P+One&family=Noto+Sans+JP:wght@800&family=Zen+Maru+Gothic:wght@300;700&display=swap" rel="stylesheet">
  <title>生徒一覧</title>
</head>
<body>
  <header> <span>LearnEval</span>
        <form th:action="@{/teachermain}" method="GET">
    <input type="submit" id="home-button" value="ホーム">
    </form>
  <form th:action="@{/login}" method="GET">
    <input type="submit" id="logout-button" value="ログアウト">
    </form>
  </header>
      <main>
      <table>
      <th:block th:each="student : ${student}">
	<tr th:if="${iterStat.index % 10 == 0}">
      <th>クラス</th>
      <th>番号</th>
      <th>名前</th>
      <th>追試</th>
    </tr>
			<tr>
				<td th:text="${student.class}"></td>
				<td th:text="${student.studentID}"></td>
				<td th:text="${student.name}"></td>
				<td th:text="${student.retry}" ></td>
			</tr>
      </th:block>
    </table>
  </main>
</body>
</html>