<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/num.css" />
  <link rel="stylesheet" type="text/css" href="/css/table.css" />
  <meta charset="UTF-8">
  <title>成績確認</title>
</head>
<body>
  <header> <span>LearnEval</span>
        <form th:action="@{/teachermain}" method="GET">
    <input type="submit" id="home-button" value="ホーム">
    </form>
  <form th:action="@{/login}" method="GET">
    <input type="submit" id="logout-button" value="ログアウト">
    </form>
  </header>
  <table>
    <tr>
      <th>問題</th>
      <th>問題数</th>
      <th>正答数</th>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>4</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>5</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <td id="qnum"></td>
      <td>5</td>
      <td>2</td>
    </tr>
  </table>
  <form th:action="@{/studenteval}" method="POST"> <input type="submit" value="メインメニューに戻る"> </form>
</body>
</html>