<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/num.css" />
  <title>生徒一覧</title>
</head>
<body>
  <header> <span>LearnEval</span>
    <div id="logout-button">ログアウト</div>
  </header>
  <table>
    <tr>
      <th>クラス</th>
      <th>番号</th>
      <th>名前</th>
      <th>追試</th>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>佐藤 春子</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>田中 太郎</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>鈴木 美香</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>高橋 隆夫</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>渡辺 亜美</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>伊藤 剛</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>山本 真理子</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>中村 拓也</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>小林 千鶴</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>加藤 光男</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>吉田 美佳</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>佐々木 健太</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>木村 美咲</td>
      <td>無し</td>
    </tr>
    <tr>
      <td>1A</td>
      <td id="num"></td>
      <td>山田 勇気</td>
      <td>無し</td>
    </tr>
  </table>
</body>
</html>