<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/table.css" />
  <link rel="stylesheet" type="text/css" href="/css/newbutton.css" />
  <script src="/js/test.js"></script>
  <title>問題一覧</title>
</head>
<body>
  <header>
    <span>LearnEval</span>
    <form th:action="@{/teachermain}" method="GET">
      <input type="submit" id="home-button" value="ホーム">
    </form>
    <form th:action="@{/login}" method="GET">
      <input type="submit" id="logout-button" value="ログアウト">
    </form>
  </header>
  <main>
    <h1 style="text-align: center;">問題一覧</h1> 
    <table>
      <th:block th:each="question : ${question}">
	<tr  th:if="${question.questionNumber % 10 == 0}">
        <th>問題番号</th>
        <th>ジャンル</th>
      </tr>
        <tr>
          <td>
            <a th:href="'/testedit/' + ${question.questionNumber}" th:text="'問' + ${question.questionNumber}"/>
          </td>
          <td th:text="${question.genre}"></td>
        <td>
			<input type="button" th:onclick="'testdelete(' + ${question.questionNumber} + ')'" value="削除">
		</td>
        </tr>
      </th:block>
    </table>
    <a th:href="'/newtest/' + ${newNum}" id="newquestion" class="btn btn-custom01">
  <span class="btn-custom01-front">新規問題作成</span>
  <i class="fas fa-angle-right fa-position-right"></i>
</a>
  </main>
</body>
</html>
