<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/question.css" />
  <link rel="stylesheet" type="text/css" href="/css/edit.css" />
  <script src="/js/anc.js"></script>
  <title>問題1</title>
</head>
<body>
  <header>
    <span>LearnEval</span>
    <form th:action="@{/teachermain}" method="GET">
      <input onclick="home()" type="button" id="home-button" value="ホーム">
    </form>
  </header>
  <main>
    <h1>問題1</h1>
    <p><img src="/images/program_01_example.png" width="60%" height="60%"></p>
      <h2>□に入るものを記号で答えなさい</h2>
    <form th:action="teachermain" method="GET">
<!--      <table>-->
<!--        <tbody>-->
<!--          <tr>-->
<!--            <th>A</th>-->
<!--            <th>B</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="text" name="1"></td>-->
<!--            <td><input type="text" name="2"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>C</th>-->
<!--            <th>D</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td><input type="text" name="3"></td>-->
<!--            <td><input type="text" name="4"></td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--        <tfoot>-->
<!--          <tr>-->
<!--            <td></td>-->
<!--          </tr>-->
<!--        </tfoot>-->
<!--      </table>-->
  <label for="quantity">選択する数字：</label>
  <select id="quantity" onchange="createInputFields()">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <!-- 他の数字を必要に応じて追加 -->
  </select>
    <div id="input-container" class="input-container">
    <!-- ここに動的に生成される入力フォームが表示されます -->
  </div>
      <input type="submit" id="return" value="確定する">
    </form>
    <button type="button" id="add()">追加</button>
  </main>
</body>
</html>
