<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/question.css" />
    <script src="/js/anc.js"></script>
  <title>問題1</title>
</head>
<body>
  <h1>問題1</h1>
<th:block th:each="image : ${image}">
  <p><img th:src="${'data:image/png;base64,' + result.Question}" width="60%" height="60%"></p>
  </th:block>
  <form th:action="@{/test}" method="POST">
	  <table>
<th:block th:each="que : ${que}">
  <tr><th th:text="'設問'+'${que.selectnumber}'"></th></tr>
  <tr><td><input type = "radio" name="th:text='${que.selectnumber}'" th:text="${que.selectnumber}"></td>
  <td><input type = "radio" name="th:text='${que.select_first}'" th:text="${que.select_sec}"></td></tr>
  </th:block>
  </table>
    <div class="A">回答する</div>
<div class="B"><p>回答 a : c,3<br>回答 b : d,4</p>
 <form th:action="@{/teachermain}" method="GET">
<input type="submit" id="return" value="メインメニューへ戻る">
 </form>
</div>
</body>
</html>