<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" href="/css/question.css" />
    <link rel="stylesheet" type="text/css" href="/css/edit.css" />
    <script src="/js/edit.js"></script>
    <title th:text="'問題' + ${number}"></title>
    <style>
        /* 初めは非表示に設定 */
        .hiddenContent {
            display: none;
        }
    </style>
</head>
<body>
<header>
    <span>LearnEval</span>
    <form th:action="@{/teachermain}" method="GET">
        <input onclick="home()" type="button" id="home-button" value="ホーム">
    </form>
</header>
<main>
    <h1 th:text="'問題' + ${number}"></h1>
    <h2>ボタンを押すと編集画面が現れます</h2>
    <div class="container">
        <div class="row">
            <div class="col-9" id="imagearea">
                    <br>
                    <th:block th:each="image : ${image}">
                  <button th:onclick="'toggleSection('+ ${image.questionNumber} +${image.imageNumber} +')'" th:text = "${image.imageNumber} + '枚目の画像'"></button>
                    <div th:id="${image.questionNumber} + '' + ${image.imageNumber}" class="hiddenContent">
                <form th:action="@{/imgedit}" method="POST" enctype="multipart/form-data">
                        <h3 th:text="'現在の問題画像 '+ ${image.imageNumber} + '枚目' "></h3>
                        <img th:src="${'data:image/png;base64,' + image.image}" width="100%" height="100%">
                        <h3>更新後の問題画像</h3>
                        <input type="file" name="upimage"><br>
                        <input type="hidden" name="imagenum" th:value="${image.imageNumber}">
                        <input type="hidden" name="num" th:value="${number}">
                        <input type="submit" value="更新する">
                </form>
                    </div>
                    <hr>
                    </th:block>
                <form th:action="@{/imgedit}" method="POST" enctype="multipart/form-data">
                    <h3>画像を追加する</h3><input type="file" name="upimage"><br>
                    <input type="hidden" name="imagenum" value="new">
                    <input type="hidden" name="num" th:value="${number}">
                    <input type="submit" value="追加する">
                </form>
            </div>
            <div class="col-3" id="editarea">
                  <button onclick="toggleSection('language')">言語変更</button>
                    <div id="language" class="hiddenContent">
				<p>既存の言語</p>
                <select>
                    <th:block th:each="lang : ${lang_list}">
                        <option th:text="${lang.language}"></option>
                    </th:block>
                </select><br>
                <form th:action="@{/langedit}" method="POST">
                    <p>変更後の言語</p>
                    <input type="text" th:value="${language}" name="in_lang">
                    <input type="hidden" name="num" th:value="${number}">
                    <input type="submit" value="更新する">
                </form>
                    </div>
                    <hr>
                    <button onclick="toggleSection('title')">タイトル変更</button>
                    <div id="title" class="hiddenContent">
                <p>変更後のテストタイトル</p>
                <form th:action="@{/titleedit}" method="POST">
                    <p><input type="text" th:value="${title}" name="title"></p>
                    <input type="hidden" name="num" th:value="${number}">
                    <input type="submit" value="更新する">
                </form>
                    </div>
                <hr>
                <th:block th:each="que : ${question}">
                    <button th:onclick="'toggleSection(' + ${que.selectNumber} + ')'"
                            th:text="'設問' + ${que.selectNumber}"></button>

                    <div th:id="${que.selectNumber}" class="hiddenContent">
                        <p>現在の問題文</p>
						<ul>
                        <li th:text="'1：' + ${que.select_first}"></li>
                        <li th:text="'2：' + ${que.select_sec}"></li>
                        <li th:text="'3：' + ${que.select_third}"></li>
                        <li th:text="'4：' + ${que.select_forth}"></li>
                        <p th:text="'答え：' + ${que.answer}"></p>
                        </ul>
                        <form th:action="@{/questionedit}" method="POST">
                            <!-- プルダウン 作成-->
                            <p>更新後の問題文</p>
                            <label th:text="'1：'"></label><input type="text" name="first" th:value="${que.select_first}"><br>
                            <label th:text="'2：'"></label><input type="text" name="second" th:value="${que.select_sec}"><br>
                            <label th:text="'3：'"></label><input type="text" name="third" th:value="${que.select_third}"><br>
                            <label th:text="'4：'"></label><input type="text" name="forth" th:value="${que.select_forth}"><br>
                            <label th:text="'答え：'"></label><br>
                            <select id="dropdown1" name="answer_num">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select><br>
                            <input type="hidden" name="num" th:value="${que.selectNumber}">
                            <input type="hidden" name="quenum" th:value="${number}">
                            <input type="submit" value="更新する">
                        </form>
                    </div>
                    <hr>
                </th:block>
                <div>
                <button onclick="toggleSection('new')">設問追加</button>

                <div id="new" class="hiddenContent">
                    <form th:action="@{/questionedit}" method="POST">
                        <!-- プルダウン 作成-->
                        <p>追加の問題文</p>
                        <label th:text="'1：'"></label><input type="text" name="first"><br>
                        <label th:text="'2：'"></label><input type="text" name="second"><br>
                        <label th:text="'3：'"></label><input type="text" name="third"><br>
                        <label th:text="'4：'"></label><input type="text" name="forth"><br>
                        <label th:text="'答え：'"></label><br>
                        <select id="dropdown1" name="answer_num">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select><br>
                        <input type="hidden" name="num" value="new">
                        <input type="hidden" name="quenum" th:value="${number}">
                        <input type="submit" value="追加する">
                    </form>
                </div>
                </div>
                <hr>
                <p>削除する問題を選んでください</p>
                <form th:action="@{/delete}" method="POST">
                    <select id="dropdown1" name="num">
                        <th:block th:each="delNum : ${delNum}">
                            <option th:value="${delNum}" th:text="${delNum}"></option>
                        </th:block>
                    </select>
                    <input type="hidden" name="quenum" th:value="${number}">
                    <input type="submit" value="削除する">
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
