<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/question.css" />
  <script src="/js/anc.js"></script>
  <title th:text="'問題' + ${number}"></title>
</head>
<body>
  <h1 th:text="'問題' + ${number}"></h1>
  <p><img th:src="${'data:image/png;base64,' + image}" width="60%" height="60%"></p>
      <h2>□に入るものを記号で答えなさい</h2>
  <form th:action="@{/test}" method="POST">
    <th:block th:each="que : ${question}">
      <h2 th:text="'設問' + ${que.selectnumber}"></h2><br>
      <input type="radio" name="${que.selectnumber}" th:text="'　：　' + ${que.select_first}">
      <input type="radio" name="${que.selectnumber}" th:text="'　：　' + ${que.select_sec}"><br>
      <input type="radio" name="${que.selectnumber}" th:text="'　：　' + ${que.select_third}">
      <input type="radio" name="${que.selectnumber}" th:text="'　：　' + ${que.select_forth}">
    </th:block><br>
    <div class="A">回答する</div>
    <div class="B">
      <p>回答 a : c,3<br>回答 b : d,4</p>
      <form th:action="@{/teachermain}" method="GET">
        <input type="submit" id="return" value="メインメニューへ戻る">
      </form>
    </div>
  </form>
</body>
</html>
