<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/header.css" />
  <link rel="stylesheet" type="text/css" href="/css/question.css" />
  <link rel="stylesheet" type="text/css" href="/css/edit.css" />
  <script src="/js/anc.js"></script>
  <title th:text="'問題' + ${number}"></title>
</head>
<body>
  <header>
    <span>LearnEval</span>
    <form th:action="@{/teachermain}" method="GET">
      <input onclick="home()" type="button" id="home-button" value="ホーム">
    </form>
  </header>
  <main>
	<form th:action="'@{/testeditimg/' + ${number} + '}'" method="POST">
	<h1 th:text="'問題' + ${number}"></h1>
	<h3>現在の問題画像</h3><img th:src="${'data:image/png;base64,' + image}" width="60%" height="60%">
	<h3>更新後の問題画像</h3><input type="file" name="upimage"><br>
	<input type = "submit" value="更新する">
	</form>


    <th:block th:each="que : ${question}">
	<form th:action="@{/testedit_q}" method="POST">
      <h2 th:text="'設問' + ${que.selectnumber}"></h2>
      <h2>現在の問題文</h2>
      <div th:text="'1　：　' + ${que.select_first}"></div>
      <div th:text="'2　：　' + ${que.select_sec}"></div>
      <div th:text="'3　：　' + ${que.select_third}"></div>
      <div th:text="'4　：　' + ${que.select_forth}"></div>
      <div th:text="'答え　：　' + ${que.answer}"></div>
      <h2>更新後の問題文</h2>
      <div th:text="'1　：　 '"></div><input type="text" name="first">
      <div th:text="'2　：　'"></div><input type="text" name="second">
      <div th:text="'3　：　'"></div><input type="text" name="third">
      <div th:text="'4　：　'"></div><input type="text" name="forth">
      <div th:text="'答え　：　'"></div><input type="text" name="answer_num"><br>
      <input type="submit" value="更新する">
	</form>
    </th:block><br>
</body>
</html>



<!-- 問題番号をコントローラーで識別する -->
