<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/question.css" />
    <script src="/js/anc.js"></script>
  <title>問題1</title>
</head>
<body>
  <h1>問題1</h1>
<th:block th:each="result : ${selectResult}">
  <p><img th:src="${'data:image/png;base64,' + result.Question}" width="60%" height="60%"></p>
  </th:block>
  <form th:action="@{/test}" method="POST">
	 <h2 style="text-align: left;">a : </h2>
    <div id="que">
      <section><span><input type="radio" name="a" value="a" id="choice">a</span>1</section>
      <section><span><input type="radio" name="a" value="b" id="choice">b</span>2</section>
      <section><span><input type="radio" name="a" value="c" id="choice">c</span>3</section>
      <section><span><input type="radio" name="a" value="d" id="choice">d</span>4</section>
    </div>
    <h2 style="text-align: left;">b : </h2>
    <div id="que">
      <section><span><input type="radio" name="b" value="a" id="choice">a</span>1</section>
      <section><span><input type="radio" name="b" value="b" id="choice">b</span>2</section>
      <section><span><input type="radio" name="b" value="c" id="choice">c</span>3</section>
      <section><span><input type="radio" name="b" value="d" id="choice">d</span>4</section>
    </div>
  </form>
  </form>
    <div class="A">回答する</div>
<div class="B"><p>回答 a : c,3<br>回答 b : d,4</p>
 <form th:action="@{/teachermain}" method="GET">
<input type="submit" id="return" value="メインメニューへ戻る">
 </form>
</div>
</body>
</html>