@charset "UTF-8";
#choice{
background-color: orange;
text-align: center;
font-size: 30px;
padding: 10px;
margin: 10px;
width: 600px;
height: 85px;
}
a {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  background: #fff;
  width: 600px;
  height:  85px;
  padding:auto;
  margin:5px;
  border: 3px solid #333;
  box-shadow: 0 5px 0 #333;
  border-radius: 6px;
  display: inline-block;
  transition: .3s;
}
a:hover {
  transform: translateY(5px);
  box-shadow: 0 0 0 #333;
}