@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
}

span{
	font-size: 30px;
}


header {
    background-color: rgb(128, 128, 255);
    padding: 30px; /* 任意のパディングを設定 */
    color: white; /* ヘッダーの文字色を白に設定 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* 相対位置指定 */
}

#logout-button {
    background-color: white;
    color: black;
    width: 100px;
    padding: 1%;
    border-radius: 5px; /* 角を丸める */
    position: absolute;
    top: 50px; /* 上端を中央に配置 */
    transform: translateY(-50%); /* 中央寄せ */
    right: 50px; /* 左に5px移動 */
}
#home-button {
    background-color: lightblue;
    color: black;
    width: 100px;
    padding: 1%;
    border-radius: 5px; /* 角を丸める */
    position: absolute;
    top: 50%; /* 上端を中央に配置 */
    transform: translateY(-50%); /* 中央寄せ */
    right: 10%; /* 左に5px移動 */
}

main{
	text-align: center;
	padding: 10px;
	}
