@charset "UTF-8";

/* 文書全体のテキスト配置をセンターに設定 */
main {
    text-align: center;
}

table{
	text-align: center;
	margin: auto;
	margin-top: 10px;
}
td,tr{
	padding-bottom: 20px;
}

/* メッセージエリアのスタイリング */
#messagearea {
    width: 1250px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;
    word-break: break-all;
    background-color: skyblue;
}

/* メッセージ入力のスタイリング */
#messageInput {
    width: 1200px;
    height: 100px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    /* 垂直方向のリサイズを許可 */
}

/* テキストの量に応じてbackground-colorをつける */
#righttext {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: greenyellow;
    max-width: 550px;
    text-align:left;
    font-weight: bold;
    padding: 5px;
}

#righttext.p {
    word-wrap: break-word;
}

/* クラス .getmessage に対するメッセージのスタイリング */
.getmessage {
    font-size: 20px;
}

/* 左側のテキストコンテナのスタイリング */
#lefttext {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    max-width: 550px;
    text-align:left;
    font-weight: bold;
    padding: 5px;
}

#lefttext.p {
    word-wrap: break-word;
}

/* 左右のアラインメントのためのフロート */
.left {
    float: left;
    margin-right: 20px;
}

.right {
    float: right;
    margin-left: 20px;
}

/* メッセージテーブルのスタイリング */
#messagetable {
    width: 1200px;
}

/* メッセージボタンのスタイリング */
.messagebottun {
    font-weight: bold;
    transition: .3s; /* 変化時間 0.3秒 */
    padding: 10px; /* 内側の余白設定 */
    border-radius: 12px; /* 要素の角を丸くする */
    background-color: #2ecadf; /* 背景色指定 */
    text-decoration: none; /* aタグの下線を非表示に */
    color: #fff; /* 文字色 */
    font-size: 1.5rem; /* フォントサイズ */
    margin: auto; /* 外側の余白設定 */
}

/* メッセージボタンのホバーエフェクト */
.messagebottun:hover {
    transition: .3s; /* 変化時間 0.3秒 */
    background-color: #00a9de; /* 背景色 */
}

/* 'x'要素のスタイリング */
#x {
    color: white;
    position: absolute;
    bottom:0px;
    right: 10px;
}

#newroom {
	font-weight: bold;
    position: absolute;
    top: 110px;
    right: 10px;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

#newroom:hover, #newroom:focus {
    background-color: #0056b3;
    border-color: #0056b3;
    outline: none;
}



#rightdaytime{
	text-align: right;
	font-size: 20px;
}
#leftdaytime {
	text-align: left;
	font-size: 20px;
}
