@charset "UTF-8";

#messagearea {
  width: 1250px;
  height: 500px;
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  overflow: auto;
}

textarea {
  width: 1200px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: vertical; /* 垂直方向のリサイズを許可 */
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
}
