@charset "UTF-8";

table {
counter-reset: number 0;
text-align: center;	
}
table#twoset{
	counter-reset: number 1;
}
table#tenset{
	counter-reset: number 11;
}
table #qnum::before {
counter-increment: number 1;
content: "å•" counter(number);
}
table #num::before {
counter-increment: number 1;
content: counter(number);
}
table #t-qnum::before {
counter-increment: number 1;
content: "å•" counter(number);
}

